/* style={{marginBottom:'200px',marginLeft:'600px'}} */
.login{
    margin-bottom: 200px;
    margin-left: 600px;
}

/* style={{ backgroundColor: 'white', padding: '20px', borderRadius: '10px', boxShadow: '4px 4px 8px rgba(0, 0, 0, 0.1)', width: '300px' }} */

.login-form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* style={{marginBottom: '15px'}} */

.login-form-division{
    margin-bottom: 15px;
}

/* style={{ width: '100%', padding: '10px', borderRadius: '5px', border: '1px solid #ccc', boxSizing: 'border-box' }} */

.login-form-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style={{ width: '100%', padding: '10px', borderRadius: '5px', border: 'none', backgroundColor: '#007BFF', color: 'white', cursor: 'pointer' }} */

.login-form-button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}